@import "styles";

$height: 100px;

.HeaderCenter {
  height: $height;
  background-color: transparent;
}

.Inner {
  display: flex;
  align-items: center;
  height: $height;

  &Desktop {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.ButtonSidebar {
  padding: 10px;
}

.Mobile {
  display: none;
  width: 100%;
}

.Text {
  color: white;
  opacity: 0.8;
  transition: all 0.15s;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .ButtonCatalogText {
    display: none;
    padding: 10px 26px;
    width: 44px;
  }
}

@media (max-width: 768px) {
  .InnerDesktop {
    display: none;
  }

  .Desktop {
    display: none;
  }

  .Mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .HeaderCenter {
    & .SearchControlsDesktop {
      display: none;
    }

    & .LogoMobile {
      max-width: max-content;

      & svg {
        max-width: max-content;
      }
    }

    & .HeaderIconsListMobile {
      max-width: max-content;
    }

    & .ButtonSidebar {
      background-color: $color-white;
      box-shadow: none;
    }
  }
}
