@import "styles";

.ReviewsAdd {
  width: 100%;
}

.GoBack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  &Link {
    @include roboto-12-regular;
    display: flex;
    align-items: center;
    color: $color-beige;
    transition: all 0.15s;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-beige;
      transition: all 0.15s;
    }
  }

  &Link:hover {
    color: $color-hover;

    svg {
      fill: $color-hover;
    }
  }

  &Text {
    margin-left: 4px;
  }
}

.Title {
  @include roboto-24-bold;
  margin-top: 30px;
  margin-bottom: 16px;
}

.Row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 834px;
  width: 100%;

  &Start {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    max-width: 834px;
    width: 100%;
  }

  &Inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &Title {
    @include roboto-20-bold;
    margin-right: 50px;
    max-width: 238px;
    width: 100%;

    &Total {}
  }
}

.Comment {
  width: 100%;

  &Title {
    @include roboto-12-regular;
    margin-bottom: 8px;
    color: $color-suit-gray;
  }

  &Textarea {
    @include roboto-14-regular;
    padding: 6px 36px 6px 12px;
    min-height: 36px;
    width: 100%;
    border: 2px solid $color-border;
    border-radius: 4px;
    resize: none;

    &:focus {
      outline: 0;
      border-color: $color-beige;
    }
  }
}

.Comment + .Comment {
  margin-top: 16px;
}

.Button {
  width: 100%;
}

@media (max-width: 768px) {
  .Row {
    align-items: flex-start;
    flex-direction: column;

    &Title {
      margin-bottom: 16px;
      &Total {
        margin-bottom: 0;
      }
    }

    &Start {
      flex-direction: column;
    }
  }
}
