@import "styles";

.Logo {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;

  svg {
    max-width: 100px;
    width: 100%;
    height: auto;
    fill: white;
    opacity: 0.8;
    transition: all 0.15s;

    path {
      //fill: white;
      transition: all 0.15s;
    }

    &:hover {
      //fill: white;
      opacity: 1;

      path {
        //fill: white;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .Logo {
    width: 150px;

    svg {
      height: auto;
    }
  }
}

@media (max-width: 500px) {
  .Logo {
    width: 120px;
  }
}
