@import "styles";

.Logo {
  display: flex;
  align-items: center;
  width: 364px;

  svg {
    max-width: 364px;
    width: 100%;
    height: 48px;
    fill: $color-beige;
    transition: all 0.15s;

    &:hover {
      fill: $color-beige-hover;
    }
  }
}
