@import "styles";

.Pagination {
  display: flex;
  align-items: center;
}

.PaginationPageButton {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 8px;
  color: darkblue;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.PaginationPageButton_active {
        background-color: darkblue;
      color: $color-light-gray;
}

.PaginationPageButton__withLeftSpace {
  margin-left: 14px;
}

.PaginationPageButton__withRightSpace {
  margin-right: 14px;
}

.PaginationSpace {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 8px;
  color: darkblue;
  line-height: 40px;
  text-align: center;
}

.PaginationArrowButton {
  margin: 0 16px;

  .Icon {
    svg {
      width: 6px;
      height: 12px;
    }
  }

  &:active {
    path {
      fill: none;
      stroke: white;
    }
  }
}

.PaginationArrowButton__disabled {
  opacity: 0.5;

  &:active,
  &:hover {
    background-color: $color-light-gray;

    path {
      fill: $color-light-gray;
      stroke: darkblue;
    }
  }
}
