@import "styles";

.Input {
  display: flex;
  align-items: center;
  padding: 18px 12px;
  width: 100%;
  background-color: $color-bg-input;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;

  &.Input__error {
    background-color: $color-light-red;
  }
}

.ErrorMessage {
  @include text-12-regular;
  display: block;
  padding-top: 5px;
  color: $color-red;
  transition: all 0.3s;
}


.Input:-webkit-autofill {
    -webkit-background-clip: text;
}
