@import "styles";

.SearchProductListItem {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 3px;
  border-radius: 4px;
  height: 44px;

  &Link {
    display: flex;
    align-items: center;
    padding: 8px 10px;
  }

  &:hover {
    background-color: $color-light-beige;
  }

  &Images {
    margin-right: 10px;
  }

  &Title {
    @include roboto-16-regular;
    margin-right: 10px;
    color: $color-text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}