@import "styles";

.Item {
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &::before {
    height: 25%;
    background: linear-gradient(180deg, #000, transparent);
    opacity: 0.8;
  }

  &::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 95%, #353535);
  }

  & > div {
    width: 100%;
  }

  &Content {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    max-width: 1200px;
    width: 100%;
    z-index: 2;
  }

  &Title {
    margin-bottom: 32px;
    max-width: 500px;
    width: 100%;
    font-size: 48px;
    color: white;
  }

  &Button {
    border-radius: 0;
  }
}
