@import "styles";

.FilterBarMobile {
  z-index: 102;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0 0.1rem 0.3rem #00000012, 0 0 0.5rem #00000012;

    &Title {
      @include roboto-16-bold;
      padding: 0 15px;
    }

    &Close {
      padding: 15px;

      svg {
        width: 20px;
        height: 20px;
        fill: $color-suit-gray;
      }
    }
  }

  &Content {
    padding: 15px;

    .AsideFilter {
      display: flex;
      flex-direction: column;
      margin-top: -8px;
    }

    .CheckboxItem + .CheckboxItem {
      margin-top: 15px;
    }

    .AsideButton {
      margin-top: 15px;
      width: 100%;
    }
  }
}
