@import "styles";

.HeaderIconsList {
  display: flex;
  max-width: 188px;
  width: 100%;

  &__isHomePage {
    .IconLink {
      svg {
        fill: white;
      }

      &:hover {
        svg {
          fill: $color-beige;
        }
      }
    }

    .IconDescription {
      color: white;
    }

    .CartItemsCount {
      color: white;
    }
  }
}

.HeaderIconListItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-align: center;
  max-width: 94px;
  width: 100%;

  a {
    color: $color-text;
    text-decoration: none;
    transition: all 0.15s;

    svg {
      transition: all 0.15s;
    }

    &:hover {
      .IconDescription {
        color: $color-beige;
      }

      svg {
        fill: $color-beige;
      }
    }
  }
}

.IconDescription {
  @include roboto-14-regular;
  color: $color-text;
  transition: all 0.15s;
}

.IconLink {
  position: relative;
}

.CartItemsCount {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  transform: translateY(90%);
  right: 0;
  width: 20px;
  height: 20px;
  color: $color-text;
  background-color: $color-beige;
  border: 1px solid $color-beige;
  border-radius: 50%;
}

.AvatarDropDown {
  height: max-content;
  width: max-content;
}

@media (max-width: 768px) {
  .HeaderIconListItemDesktop {
    display: none;
  }

  .ButtonCatalog {
    display: none;
  }

  .IconDescription {
    display: none;
  }

  .CartItemsCount {
    top: -10px;
    right: -5px;
    width: 14px;
    height: 14px;
    transform: translateY(25%);
    font-size: 10px;
    line-height: 0;
  }

  .Icon {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  .IconLink {
    display: flex;
    align-items: center;
  }
}
