@import "styles";

.HeaderIconsList {
  display: flex;
  max-width: 188px;
  width: 100%;
}

.HeaderIconListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 94px;
  width: 100%;

  a {
    color: $color-text;
    text-decoration: none;
    transition: all 0.15s;

    &:hover {
      color: $color-beige-hover;

      svg {
        fill: $color-beige-hover;
      }
    }
  }
}

.Icon {
  cursor: pointer;

  svg {
    fill: $color-text;
    transition: all 0.15s;
  }
}

.IconDescription {
  @include roboto-12-regular;
}

.IconLink {
  position: relative;
}

.CartItemsCount {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  transform: translateY(90%);
  right: 0;
  width: 20px;
  height: 20px;
  color: $color-white;
  background-color: $color-beige;
  border: 1px solid $color-beige;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .HeaderIconsList {
    justify-content: flex-end;
  }

  .HeaderIconListItemDesktop {
    display: none;
  }

  .ButtonCatalog {
    display: none;
  }

  .IconDescription {
    display: none;
  }

  .CartItemsCount {
    width: 14px;
    height: 14px;
    transform: translateY(25%);
    font-size: 10px;
    line-height: 0;
  }

  .Icon {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  .IconLink {
    display: flex;
    align-items: center;
  }
}
