@import "styles";

.MirrorsAside {
  min-width: 224px;
  margin-right: 20px;
  margin-top: 47px;

  .FilterMobile,
  .FilterButtonLabelMobile,
  .FilterButtonMobile {
    display: none;
  }

  .AsideFilterDesktop {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
  }
}

.MirrorsAsideButton {
  margin-top: 18px;
}

.CheckboxItem + .CheckboxItem {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .MirrorsAside {
    margin-top: 0;

    .FilterMobile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .FilterButtonLabelMobile {
      display: block;
      margin-right: 8px;
    }

    .FilterButtonMobile {
      display: flex;
      align-items: center;
      padding: 0;

      span {
        height: 30px;
      }

      & svg {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        stroke: $color-beige;
      }
    }

    .AsideFilterDesktop {
      display: none;
    }
  }
}
