@import "styles/index";

.Accordion {
  box-shadow: none;

  .Header {
    @include text-14-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 7px 15px 7px 0;
    color: $color-text;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: $color-white;
      box-shadow: $shadow-bottom;
    }
  }

  .HeaderTitle {}

  .HeaderIcon {
    svg {
      transition: all 0.3s ease;
      width: 16px;
      height: 10px;
    }
  }

  .Content {
    padding: 15px 0;
    overflow: hidden;
    color: $color-text;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: all 0.3s;
  }
}

.Accordion.Accordion__active {
  .HeaderIcon {
    svg {
      transform: rotate(180deg);
    }
  }

  .Content {}
}

.Accordion + .Accordion {
  margin-top: 18px;
}

