@import "styles/index";

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PaginationCurrentButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 2px;
  color: $color-text;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.15s;

  &:hover {
    background-color: $color-light-gray;
  }

  span {
    position: absolute;
    background-color: $color-white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.3s linear;
  }

  @keyframes animate {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 60px;
      height: 60px;
      opacity: 0;
    }
  }
}

.PaginationCurrentButton__active {
  background-color: $color-beige;
  color: $color-white;

  &:hover {
    background-color: $color-beige;
  }
}


.PaginationArrowButton {
  margin: 0 16px;

  .Icon {
    svg {
      width: 6px;
      height: 12px;
    }
  }

  &:active {
    path {
      //fill: none;
      //stroke: white;
    }
  }
}

.PaginationArrowButton__disabled {
  opacity: 0.5;

  &:active,
  &:hover {
    //background-color: $color-light-gray;
    cursor: default;

    //path {
    //  fill: $color-light-gray;
    //  stroke: $color-text;
    //}
  }
}

//.PaginationCurrentButton {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  color: black;
//  height: 40px;
//  width: 40px;
//  text-decoration: none;
//  transition: background-color .2s;
//  border: 1px solid #ddd;
//  cursor: pointer;
//
//  &.PaginationCurrentButton__active {
//    background-color: #007bff;
//    color: white;
//    border: 1px solid #7cbddb;
//  }
//
//  &.PaginationCurrentButton__disabled {
//    opacity: 0.2;
//  }
//
//  &:hover:not(.PaginationCurrentButton__active) {
//    background-color: rgb(238, 238, 238);
//  }
//}
