@import "styles";

.Shipping {
  width: 100%;
  height: 100%;
}

.Title {
  margin-bottom: 16px;
}

.Form {
  max-width: 550px;
  width: 100%;
}

.FormFieldGroup {
  display: flex;
  justify-content: space-between;

  &Item {
    max-width: 266px;
    width: 100%;
  }
}

.TextField {}

.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  &Link {
    @include text-18-medium;
    display: flex;
    align-items: center;
    color: $color-dark-blue;
    transition: all 0.15s;

    svg {
      width: 30px;
      height: 30px;
      fill: $color-dark-blue;
      transition: all 0.15s;
    }
  }

  &Link:hover {
    color: $color-blue;

    svg {
      fill: $color-blue;
    }
  }
}

.Button {}

.ErrorResponse {
  position: absolute;
  bottom: -35px;
  display: none;
}

.ErrorResponse__error {
  display: block;
  color: $color-red;
}

.Map {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 0;
  //height: auto;
}

ymaps[class*="search__suggest"] {
  // styles for dropdown container
}

ymaps[class*="suggest-item"] {
  // styles for dropdown item
}
