@import "styles";

.CartItem {
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid $color-light-gray;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Product {
  display: flex;

  &Image {}

  &Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    max-width: 100%;
    width: 100%;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Bottom {
    display: flex;
    justify-content: flex-end;
  }

  &Actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &Title {
    color: $color-text;
    transition: all 0.15s;

    &:hover {
      color: $color-beige;
    }
  }

  &ItemPrice {
    @include roboto-14-bold;
    position: relative;
    top: 8px;
    text-align: center;
  }

  &ItemTotalPrice {
    @include roboto-16-bold;
  }

  &Delete {
    display: inline-flex;
    align-items: flex-end;
    color: $color-dark-gray;
    border-bottom: 1px solid $color-dark-gray;
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
      color: $color-beige;
    }
  }

  &Counter {
    display: flex;
    align-items: center;

    &Minus,
    &Plus {
      @include roboto-16-bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      border: 3px solid $color-moon-gray;

      &:hover {
        background-color: $color-pearl-white;
      }
    }

    &Minus {
      border-radius: 6px 0 0 6px;
      border-width: 3px 0 3px 3px;
    }

    &Plus {
      border-radius: 0 6px 6px 0;
      border-width: 3px 3px 3px 0;
    }

    &Count {
      text-align: center;
      width: 30px;
      height: 30px;
      background-color: $color-moon-gray;
      border: 3px solid $color-moon-gray;
      outline: transparent;
      transition: all 0.15s;

      &:hover {
        background-color: $color-white;
        border-color: $color-shade-gray;
      }

      &:active,
      &:focus {
        background-color: $color-white;
        border-color: $color-shade-gray;
      }
    }

    &__disabled {
      color: $color-shade-gray;
      background-color: $color-moon-gray;
      cursor: default;

      &:hover {
        color: $color-shade-gray;
        background-color: $color-moon-gray;
      }
    }
  }
}