@import "styles";

.HeaderBottom {
  display: flex;
  padding: 5px 0;
  height: 28px;

  &__catalogOpen {
    border-top: 1px solid white;
    box-shadow: none;

    .Link {
      display: none;
    }
  }

  & .SearchControlsMobile {
    display: none;
    max-width: 100%;
  }
}

.Link {
  @include roboto-14-regular;
  color: $color-text;
  transition: all 0.15s;

  &:hover {
    color: $color-beige-hover;
  }
}

.Link+.Link {
  margin-left: 25px;
}

.Desktop {
  display: block;
}

@media (max-width: 768px) {
  .Desktop {
    display: none;
  }

  .HeaderBottom {
    border-top: 1px solid transparent;
    padding-bottom: 16px;

    & .SearchControlsMobile {
      display: block;
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .HeaderBottom {
    padding-bottom: 8px;
    margin-top: -10px;
  }
}
