@import "styles";

.Article {
  margin: 32px auto;
  padding: 0 15px;
  max-width: 890px;
  width: 100%;

  &WrapperTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 40px;
      background-color: #516c9b;
      margin: 0 auto;
    }

    h1, span {
      @include roboto-32-medium;
      font-weight: 300;
      text-align: center;
    }
  }

  p {
    @include roboto-16-regular;
    line-height: 26px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .ArticleWrapperTitle {
    flex-direction: column;
  }
}
