@import "styles";

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  background-color: #dfd5c3;
  overflow-y: hidden;
  z-index: 1;

  &Text {
    color: $color-suit-gray;
  }
}
