.Home {}

.MainSliders {
  display: flex;
  justify-content: space-between;
}

.MainSlider {
  height: 360px;
  width: 900px;
}

.MainSliderNextArrow {
  right: 25px !important;
}

.ProductSlider {
  height: 360px;
  width: 260px;
}

.Catalog {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(585px, 1fr));
  width: 100%;
  margin: 75px 0 30px;

  .CatalogImg {
    max-width: 585px;
    width: 100%;
    height: auto;
    border-radius: 24px;
    overflow: hidden;

    & img {
      object-fit: cover;
      border-radius: 24px;
      transition: all 0.5s;
    }

    & img:hover {
      transform: scale(1.1);
    }
  }
}