@import "styles";

.Home {}

.MainSliders {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.MainSlider {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.MainSliderNextArrow {
  right: 25px !important;
}

.Catalog {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  width: 100%;
  margin: 45px 0 30px;

  .CatalogItem {
    position: relative;
    max-width: 160px;
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    overflow: hidden;

    &Title {
      @include roboto-18-bold;
      position: absolute;
      top: 17px;
      left: 18px;
      color: $color-white;
      z-index: 1;
    }

    & img {
      object-fit: cover;
      border-radius: 24px;
      transition: all 0.5s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

$promotionWidth: 270px;

.Promotions {
  &Title {
    @include roboto-26-medium;
    margin-bottom: 20px;
  }

  &List {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax($promotionWidth, 1fr));
    width: 100%;
  }

  &ListItem {
    max-width: $promotionWidth;
    width: 100%;

    &Title {
      @include roboto-16-bold;
      margin: 8px 0;
    }

    &SubTitle {
      @include roboto-14-regular;
    }
  }
}

@media (max-width: 768px) {
  .MainSliders {
    margin-top: 25px;
  }

  .Catalog {
    grid-gap: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: 30px 0 16px;
  }

  .Promotions {
    &Title {
      @include roboto-22-medium;
    }
  }
}

@media (max-width: 599px) {
  .Promotions {
    &ListItem {
      margin: 0 auto;
    }
  }
}

@media (max-width: 500px) {
  .Catalog {
    margin: 45px 0 16px;
  }
}
