@import "styles";

.AboutProduct {
  margin-bottom: 30px;
  width: 100%;
}

.Inner {
  display: flex;
  justify-content: space-between;
}

.Info {
  display: flex;
  position: relative;

  &Img {
    text-align: center;
    margin-right: 8px;
  }

  &Content {
    display: flex;
    flex-direction: column;
  }

  &Title {
    @include roboto-18-bold;
    margin: 8px 0;
    color: $color-text;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      color: $color-beige;
    }
  }

  &Navigation {
    display: flex;
    align-items: center;
  }
}

.Check {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &Price {
    @include roboto-22-bold;
    white-space: nowrap;
    color: $color-text;
  }

  &Control {
    margin-left: 24px;
  }
}

.ButtonAddToCart {
  @include roboto-16-regular;
  padding: 10px 30px;
  text-align: center;
  height: max-content;
  width: 100%;
  color: $color-beige;
  background-color: $color-white;
  border: 1px solid $color-beige;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

  &:hover {
    color: $color-beige-hover;
    border: 1px solid $color-beige-hover;
  }
}
