@import "styles";

.Benefits {
  margin: 32px 0;
  padding: 0 15px;

  &Inner {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;
  }

  &Unit{
    width: 100%;

    &CircleWrapper  {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 16px;
    }

    &Circle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      border: 1px solid $color-light-gray;
      border-radius: 50%;
    }

    &Icon {
      height: 24px;
      width: 32px;

      rect {
        stroke: $color-text;
      }

      path {
        stroke: $color-text;
      }
    }

    &Title {
      @include roboto-16-bold;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &Description {
      @include roboto-14-regular;
      text-align: center;
    }
  }
}

@media (max-width: 1252px) {
  .BenefitsUnitTitle {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .BenefitsInner {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (max-width: 500px) {
  .BenefitsInner {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .BenefitsUnitTitle {
    height: auto;
  }
}
