@import "styles";

.Advantages {
  margin: 32px 0;

  &Wrapper {
    width: 100%;
  }

  &Container {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  &Unit1 {
    display: flex;
    align-items: center;
    max-height: 630px;
  }

  &Unit2 {
    display: flex;
    align-items: center;
    margin-top: -50px;
    max-height: 630px;
  }

  &Unit3 {
    display: flex;
    align-items: center;
    margin-top: -100px;
    max-height: 958px;
  }

  &Text1 {
    margin-left: 32px;
    max-width: 525px;
    width: 100%;
    font-size: 100px;
    line-height: 0.9166666667;
    font-weight: 600;
    letter-spacing: -0.002em;
  }

  &Text2 {
    margin-right: 32px;
    max-width: 320px;
    width: 100%;
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: 0.012em;
    color: #6e6e73;

    & li {
      position: relative;
      padding-left: 15px;
      margin-top: 8px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 5px;
        width: 5px;
        border: 1px solid $color-text;
        border-radius: 50%;
        background-color: $color-text;
      }
    }
  }

  &Text3 {
    margin-left: 32px;
    max-width: 406px;
    width: 100%;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }

  &Image {
    max-width: max-content;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .AdvantagesUnit3 {
    margin-top: -50px;
  }
}

@media (max-width: 900px) {
  .AdvantagesUnit2 {
    margin-top: -25px;
  }

  .AdvantagesUnit3 {
    margin-top: -25px;
  }

  .AdvantagesText1 {
    font-size: 48px;
  }

  .AdvantagesText3 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .AdvantagesUnit2 {
    margin-top: 0;
  }

  .AdvantagesUnit3 {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .AdvantagesText1 {
    margin-bottom: 16px;
    font-size: 32px;
    text-align: center;
  }

  .AdvantagesText2 {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .AdvantagesText3 {
    margin-bottom: 16px;
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .AdvantagesUnit1,
  .AdvantagesUnit3 {
    flex-direction: column-reverse;
    margin-bottom: 32px;
    max-height: max-content;
  }

  .AdvantagesUnit2 {
    flex-direction: column;
    margin-bottom: 32px;
    max-height: max-content;
  }

  .AdvantagesText1,
  .AdvantagesText3 {
    margin-left: 0;
  }

  .AdvantagesText2 {
    margin-right: 0;
  }
}
