@import "styles";

.Activate {
  position: relative;
  width: 100%;

  &Inner {
    height: 100%;
  }

  &Title {
    margin-bottom: 16px;
    text-align: center;
  }

  &Control {
    display: flex;
    justify-content: center;
  }
}
