@import "styles";

.Comment {
  display: flex;
  margin-bottom: 16px;
  max-width: 570px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &Block {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    width: 100%;
  }

  &Author {
    @include roboto-14-bold;
    margin-bottom: 8px;
  }

  &Date {
    @include roboto-14-regular;
    display: inline-block;
    color: $color-suit-gray;
  }
}
