$base-font-family : 'Roboto', sans-serif;

/* 12/Regular */
@mixin text-12-regular {
	font-family: $base-font-family;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

/* 14/Regular */
@mixin text-14-regular {
	font-family: $base-font-family;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

/* 14/Bold */
@mixin text-14-bold {
	font-family: $base-font-family;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25;
}

/* 16/Light/Body */
@mixin text-16-body {
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.25;
}

/* 16/Regular */
@mixin text-16-regular {
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

/* 16/Medium */
@mixin text-16-medium {
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.25;
}

/* 16/Bold/Title*/
@mixin text-16-title {
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25;
}

/* 22/Bold/Title */
@mixin text-22-title {
	font-family: $base-font-family;
	font-size: 22px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25;
}

/* 24/Bold/Title */
@mixin text-24-title {
	font-family: $base-font-family;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25;
}

/* 32/Bold/Title */
@mixin text-32-title {
	font-family: $base-font-family;
	font-size: 32px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.25;
}