@import "styles";

.LayoutMirrors {
  .Row {
    display: flex;
    align-items: baseline;

    .Title {
      @include text-24-title;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    span {
      margin-left: 50px;
    }
  }

  .Inner {
    display: flex;
  }
}
