@import "styles";

.Login {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.SectionLeft {
  position: absolute;
  left: 0;
  bottom: 46px;
  align-self: flex-end;
  flex-shrink: 1;
}

.SectionCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 50px;
  height: 582px;
  max-width: 470px;
  width: 100%;
}

.SectionCenter_Content {
  padding: 32px 24px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: $shadow-form;
}

.SectionCenterContent_Title {
  @include roboto-32-bold;
  margin-bottom: 25px;
}

.SectionCenter_Button {
  margin-bottom: 20px;
}

.SectionCenter_Registration {
  span {
    margin-right: 10px;
  }

  a {
    color: $color-beige;
    transition: all 0.15s;

    &:hover {
      color: $color-beige-hover;
    }
  }
}

.SectionCenter_Image {
  position: absolute;
  bottom: 0;
}

.SectionRight {
  position: absolute;
  right: 0;
  bottom: 46px;
  align-self: flex-end;
  flex-shrink: 1;
}

.RememberPassword {
  margin-bottom: 5px;
  text-align: end;

  a {
    color: $color-beige;
    transition: all 0.15s;

    &:hover {
      color: $color-beige-hover;
    }
  }
}

.FormFieldGroup {
  position: relative;
  margin-bottom: 50px;
}
